.img-container {
  display: flex;
  justify-content: center;
}
.App-header{
  margin-bottom: 20px;
}

.img-custom {
  max-width: 100%;
  height: auto;
  position: relative;
  left: auto;
  bottom: 150px;
  height: 627px;
  width: 966px;
}