.img-container {
  display: flex;
  justify-content: right;
}
.App-header{
  margin-bottom: 20px;
}

.img-custom {
  max-width: 100%;
  height: auto;
  position: relative;
  left: auto;
  bottom: 150px;
  height: 527px;
  width: 766px;
}